* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242424;
  color: #595ec1;
  box-sizing: border-box;
  /* border: 2px solid greenyellow; */
}

.headerName {
  border-radius: 20px;
  background: #363535;
  box-shadow: 
  inset 10px 10px 7px #333333,
  inset -10px -10px 7px #282828;

}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: auto;
}

header {
  padding: 0 0.25em;
  color: aliceblue;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

go
.main {
  width: 100%;
  height: 80%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: slategrey solid 10px; */
}

.homepageLayout {
  display: flex;
  flex-direction: row;
}

.leftColumn, .rightColumn {
  display: flex;
  justify-content: flex-start;
  padding: 50px;
}

.contactForm, .signUpForm, .logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactCards {
  display: flex;
  flex-direction: row;
}

footer {
  width: 100%;
  padding: 0.25em;
  color: aliceblue;
  display: flex;
}

.footer-links {
  display: flex;
  justify-content: center;

}

.flex-container {
  display: block;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-links {
margin: 10px;
padding: 10px;
}

.m-0 {
  margin-left: 10px;
  padding: 10px;
}

.logo {
  margin: 10px;
  padding: 5px;
}

.flex-item {
  margin-left: 10px;

}

.btn-submit {
  margin: 10px;
  padding: 5px;
}


.header {
  display: flex;
  align-items: center;
}


.flex-item span {
  margin: auto;
  padding: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
